<div class="other-products">
    {% for product in products %}
        <a href="{{ path('app_site_product', {'_locale': locale, 'slug':product.slug}) }}">
        <img {% if slug == product.slug %}class="current"{% endif %} src="{{ product.image ? product.image.path|imagine_filter('sylius_small'): 'http://placehold.it/60x60' }}" alt="{{ product.name }}" />   
        </a>
    {% endfor %}
</div>