{% extends cms.layout %}

{% block body %}
    {% block main %}
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3" id="sidebar">
        {% block sidebar %}               
        {% endblock %}
    </div>
    <div class="col-lg-9 col-md-3 col-sm-3">
       {% block content %}
       {% endblock %}
    </div>
</div>
    {% endblock %}
{% endblock %}
