{% extends 'KitpagesCmsBundle:Page:layout.html.twig' %}

{% block body %}
    {% block main %}
    <div class="col-lg-3" id="sidebar">
        {% block sidebar %}               
        {% endblock %}
    </div>
    <div class="col-lg-9">
       {% block content %}
       {% endblock %}
    </div>
    {% endblock %}
{% endblock %}
