{% extends 'AppSyliusWebBundle:Frontend/Email:emailLayout.html.twig' %}
{% block subject %}
    {% autoescape false %}
    {{ 'email.customer_welcome.salut'|trans }} {{ user.firstName }} {{ user.firstName }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}
    <div>
        {{ 'email.customer_welcome.body'|trans }}
    </div>
{% endblock %}
