{% block subject %}
    {% autoescape false %}
    {{ 'email.customer_welcome.salut'|trans }} {{ order.user.firstName }} {{ order.user.firstName }}
    {% endautoescape %}
{% endblock %}
{% block body_text %}{% endblock %}
{% block body_html %}
    <div>
      <p>{{ 'email.order_confirmation.body'|trans }} </p>
      {% include "SyliusWebBundle:Frontend/Account:Order/_detail.html.twig" %}
    </div>
{% endblock %}
