app/*\.cache
app/cache/*

app/logs/*

app/config/parameters.yml
app/config/*.local.yml
app/config/deploy.rb
behat.yml

web/bundles/*
web/assets/compiled/*
web/media/*
web/data/
web/en/
web/fr/
web/uploads

bin/behat
bin/doctrine*
bin/phpspec
bin/webunit
bin/phpunit
bin/phpcrodm
bin/phpcrodm.php
bin/jackalope
bin/phpunit
vendor/*

composer.phar
nbproject/
/nbproject/private/
