{% autoescape false %}
{% set img = data.media.mainImage.0.default|default('') %}
<div class="text-center">
{% if img %}
    {% if data.root.block_url|default('') %}<a href="{{data.root.block_url}}">{% endif %}
    <img class="img-thumbnail" src="{{img.url}}" height="302" width="379"/>
    {% if data.root.block_url|default('') %}</a>{% endif %}
{% endif %}
{% if data.root.title|default('') %}
    <div class="panel panel-default-bold" style="opacity: 0.85;position: absolute; top:60%; width:96%">
        <div class="panel-body text-uppercase">
    {% if data.root.block_url|default('') %}<a href="{{data.root.block_url}}">{% endif %}
    {% if data.root.title|default('') %}<b>{{data.root.title}}</b>{% endif %}
    {% if data.root.block_url|default('') %}</a>{% endif %}
        </div>
    </div>
{% endif %}
</div>
{% endautoescape %}
