{% if products|length > 0 %}
<h3 class="title"><span class="text">{{ 'italica.recently.viewed.products'|trans }}</span></h3>
<div class="row">
    {% for product in products %}
        {% if loop.index < 7 %}
            {% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' with {'locale': locale } %}
        {% endif %}
    {% endfor %}
</div>
{% endif %}