<div class="other-products">
    {% for product in products %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6">
        <a href="{{ path('app_site_product', {'slug':product.slug}) }}">
        <img class="img-responsive pull-left thumbnail {% if slug == product.slug %} current{% endif %}" src="{{ product.image ? product.image.path|imagine_filter('sylius_small')|replace({'http://':'https://'}): 'http://placehold.it/60x60' }}" alt="{{ product.name }}" />   
        </a>
        </div>
    {% endfor %}
</div>