{% for article in results %}
    <div class="product-box grid-3" >
        {% include 'AppSolrSearchBundle:SolrSearch:single-product.html.twig' with {'locale': locale , 'article': article }%}
    </div>   
{% endfor %}