{% for article in results %}
    <div class="col-lg-3 text-center" >
        {% include 'AppSolrSearchBundle:SolrSearch:single-product.html.twig' with {'locale': locale , 'article': article }%}
    </div>   
{% endfor %}