{% extends 'KitpagesCmsBundle:Page:cms-edit-layout.html.twig' %}

{% block kitpages_cms_body %}
<div class="kit-cms-edit kit-cms">

<h1>Create Page</h1>

<form class="kit-cms-form form-horizontal" action="{{ path('kitpages_cms_page_create', { 'kitpages_target': kitpages_target } ) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}

    <input type="submit" class="btn btn-sm btn-primary"/>

</form>

</div>
{% endblock kitpages_cms_body %}