/* Clear all original styles */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline; }

/* Root */

html {
overflow-y: scroll;
background: rgb(255,255,255); }

body {
color: rgb(95,95,95);
font: 72% "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
background-color: transparent;}

.container {
margin: 0 auto;
width: 1024px; }

#head {
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 60%), url("/img/bg.jpg") repeat;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 60%), url("/img/bg.jpg") repeat;  
    background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 60%), url("/img/bg.jpg") repeat;
    background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 60%), url("/img/bg.jpg") repeat;
    background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.4) 0%,rgba(255,255,255,1) 60%), url("/img/bg.jpg") repeat;
}

/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
color: rgb(68,68,68);
font-weight: normal;
font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
letter-spacing: 1px;
text-align: center;
text-transform: uppercase; }

h1 {
font-size: 2.5em;
margin-bottom: .75em;
line-height: 1.2; }

h2 {
font-size: 1.5em;
margin-bottom: .75em;
line-height: 1.2; }

h3 {
font-size: 1.33em;
margin-bottom: 1em;
line-height: 1.3; }

h4 {
font-size: 1.22em;
margin-bottom: 1.25em;
line-height: 1.25; }

h5 {
font-size: 1em;
margin-bottom: 1.5em; }

h6 {
font-size: 1em; }

p, ol, ul{
    font-size: 1em;
    margin-bottom: 1.5em;
}

.title {
    text-align:center;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding-top:5px;
    padding-bottom: 5px;
}

.brand-title {
    border-bottom: 30px solid #4c4c4c;
    border-left: 30px solid #fff;
    color: white;
    display: block;
    float: right;
    font-weight: bold;
    height: 0;
    letter-spacing: 1px;
    line-height: 30px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    text-transform: uppercase;
}

/* Links */

a {
color: rgb(0,0,0);
text-decoration: none;
border-bottom: 1px solid rgb(204,204,204); }

a:visited {
color: rgb(40,40,40); }

a:focus {
outline: thin dotted;
color: rgb(0,0,0); }

a:hover,
a:active {
outline: 0;
border-bottom: none; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a,
#head a,
#foot a,
.home-banner a,
.new-in-link a,
.home-banner-nav ul a,
.home-banner-nav-p a{
border-bottom: none; }

h1 a:hover,
h1 a:active,
h2 a:hover,
h2 a:active,
h3 a:hover,
h3 a:active,
h4 a:hover,
h4 a:active,
h5 a:hover,
h5 a:active,
h6 a:hover,
h6 a:active,
#head a:hover,
#head a:active,
#nav-foot a:hover,
#nav-foot a:active{
text-decoration: underline; }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
font-weight: normal; }

.clearfix:before,
.clearfix:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden; 
}

.clearfix:after {
    clear: both; 
}

.row {
width: 100%;
margin: 0 auto;
overflow: hidden; }

.column {
margin: 0;
overflow: hidden;
float: left;
display: inline; }

.block {
margin: 0 8px;
overflow: hidden;
float: left;
display: inline; }

.grid-1 { width:8.333333333%; }
.grid-1-5 { width:12.5%; }
.grid-2 { width:16.666666667%; }
.grid-2-25 { width:18.75%; }
.grid-2-5 { width:20.833333333%; }
.grid-3 { width:25%; }
.grid-4 { width:33.333333333%; }
.grid-5 { width:41.666666667%; }
.grid-6 { width:50%; }
.grid-7 { width:58.333333333%; }
.grid-8 { width:66.666666667%; }
.grid-9 { width:75%; }
.grid-9-5 { width:79.166666667%; }
.grid-10 { width:83.333333333%; }
.grid-11 { width:91.666666667%; }
.grid-12 { width:100%; }
.grid-row { clear: left; }


.alert {
  padding: 8px 35px 8px 14px;
  margin-bottom: 18px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert-heading {
  color: inherit;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 18px;
}

.alert-success {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-danger,
.alert-error {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}

.alert-info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-block {
  padding-top: 14px;
  padding-bottom: 14px;
}

.alert-block > p,
.alert-block > ul {
  margin-bottom: 0;
}

.alert-block p + p {
  margin-top: 5px;
}

.close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}

.modal {
    padding:10px;
    left: -20%;
    margin: 0 50%;
    position: absolute;
    right: 0;
    top: 300px;
    width:600px;
    z-index: 991;
    border-radius: 5px;
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.3);

    background-color: white;
    border:10px solid #d1d1d1;
}

.modal .title {
    border-bottom: 1px dashed #d1d1d1;
    font-size: 14px;
    font-weight: bold;
    padding:10px;
    margin-bottom:15px;
    white-space: nowrap;
}

/* table */


table {
  width: 100%;
  margin-bottom: 20px;
  border-collapse: collapse;
  border-spacing: 0;
  border-bottom: 1px solid #d1d1d1;
  
}
table th,
table td {
  padding: 5px 10px;
  border-left: 1px solid #ffffff;
  line-height: 20px;
  text-align: left;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  vertical-align: top;
}
table td {
  font-size: 12px;
}
table th:first-child,
table td:first-child {
  border-left: none;
}
table th {
  font-weight: bold;
  border-bottom: 1px solid #ccc;
  text-transform: uppercase;
}
table tbody tr:nth-child(odd) td {
  background-color: #f2f2f2;
}


/* logo */
.topbar {
    background-color: rgb(245, 245, 245);
    height: 1.2em;
    padding: 10px;
    position: relative;
    text-align: center;
    border-bottom: 1px solid #d1d1d1;
    border-radius: 2px;
}

.topbar h5 {
    color: #c73615;
}

#logo {
    padding-top: 40px;
    text-align: center; }

#logo h1, #logo h4 {
    margin-bottom: 0em;
    letter-spacing: 4px;
}

#top-links {
padding-top:15px;
font-size: 11px;
text-align: right;
text-transform: uppercase;
letter-spacing: 1px;}

#top-links li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

#top-links li a {
    font-size: 1.2em;
    font-weight: normal;
    letter-spacing: 1px;
    padding: 8px 10px 7px;
    text-align: center;
    text-transform: uppercase;
}

#top-links ul {
    list-style: none outside none;
    margin: 0;
    padding-left: 40px;
}
#top-links span {
    margin-left: 32px; }


/* search */

#quick-search {
    float: right;
    margin: 0px 0 0 95px;
    position: relative; }

#quick-search input {
    color: #A7A9AC;
    height: 17px;
    padding-left: 5px;padding-top:1px;padding-bottom:2px;
    position: absolute;
    right: 26px;
    width: 200px;
    margin-top: 1px;
}

#quick-search .search-button {
    border:0; 
    padding: 0;
    background:transparent; 
    cursor:pointer; 
}

#quick-search span {
    border:0; 
    padding:0 0 0 10px; 
    margin:0; 
    cursor:pointer; 
    background-position:0 0; 
    display:-moz-inline-stack; 
    display:inline-block; 
    color:#c73615; 
    height:21px; 
    text-decoration:none;
    background: url("/img/search.png") no-repeat scroll 7px 4px #FFFFFF;
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 1px 1px 0;
    height: 20px;
    width: 15px; 
}

#top-promo {
    font-size: 1.2em;
    letter-spacing: 3px;
    padding-top: 15px;
    text-align: left;
    text-transform: uppercase;
}

#top-registration {
    padding-bottom: 10px;
    padding-top: 15px;
    text-align: left;
    border-bottom: 1px dashed #d1d1d1;
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
}

#top-facebook {
    margin-top: 1em;
}

/* top navigation */

#nav-main,
#nav-main ul,
#nav-foot ul,
#mini-basket ul,
.home-banner-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none; 
}

#nav-main {
    clear: both;
    height: 31px;
}

#nav-main li.navigation-level3 {
    float: left;
    padding: 0; 
    margin: 0;
    position: relative;
    z-index: 999;
}

#nav-main li.navigation-level3 a {
padding: 8px 20px 7px;
display: block;
text-align: center;
font-size: 1.1em;
letter-spacing: 1px;
font-weight: normal;
text-transform: uppercase;
font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
letter-spacing: 1px;
border-bottom: none; 
}

#nav-main li.navigation-level3 a:hover,
#nav-main li.navigation-level3 a:active {
text-decoration: none; }

#nav-main li.navigation-level3 a:hover,
#nav-main li.navigation-level3 a.selected {
color: rgb(255,255,255);
border: 0;
background-color: rgb(0,0,0); }


/* Dropdowns */


#nav-main li.navigation-level3 ul {
color: rgb(118,118,118);
width: 250px;
padding: 18px;
position: absolute;
background: rgb(255,255,255);
border: 1px solid rgb(240,240,240);
-webkit-box-shadow: 1px 0 3px rgba(0,0,0,.3);
-moz-box-shadow: 1px 0 3px rgba(0,0,0,.3);
box-shadow: 1px 0 3px rgba(0,0,0,.3); 
vertical-align: top; 
display:none;
}
#nav-main li.navigation-level4 ul {
    display:block;
}
#nav-main li.navigation-level4 {
    float: left;
    padding: 0; 
    margin: 0;
    position: relative;
    z-index: 999;
    float: left;
    display: block;
}

#nav-main li.navigation-level4 ul {
    color: rgb(118,118,118);
    width: 100px;
    padding: 0;
    position: relative;
    border: 0;
    box-shadow: 0 0 0 rgba(0,0,0,.3);
}

#nav-main li.navigation-level4 a {
    padding: 0;
    display: block;
    text-align: left;
    font-size: 12px;
    font-weight: normal;
    text-transform: uppercase;
    font-family:  "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
    letter-spacing: 1px;
    border-bottom: none; 
    color: rgb(68, 68, 68);
    margin-bottom: 1em;
}

#nav-main li.navigation-level4 a {
    margin-bottom: 0.5em;
}

#nav-main li.navigation-level4 ul li a {
    color: rgb(0,0,0);
    padding: 0;
    display: block;
    font-size: 11px;
    text-align: left;
    font-weight: normal;
    line-height: 20px;
    text-transform: none;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif; }

#nav-main li.navigation-level4 ul li a:hover {
    text-decoration: underline }

#nav-main li.navigation-level4 a:hover {
color: rgb(0,0,0);
background-color: rgb(255,255,255); }


#promo-row {
    height: 48px;
    background-color: rgb(245, 245, 245);
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin-bottom: 5px;
    clear:both;
}

.promo-block {
    text-align: center;
    text-transform: uppercase;
    margin-top:10px;
    margin-bottom:10px;
    padding-top:5px;
    padding-bottom: 5px;
    color: #c73615;
    letter-spacing: 1px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-right:5px;
    margin-left:5px;
}

.promo-block.middle {
    color: rgb(68, 68, 68);
    border-left: 1px solid #000;  
    border-right: 1px solid #000;
    
}
/* basket-button */

#mini-basket {
    padding-top: 15px;
    text-align: right;
    padding-bottom:10px;
    border-bottom: 1px dashed #d1d1d1;
}

/* home banners */

.home-banner {
    display:inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom:5px;
    
}

.home-banner-image {
    display:inline-block;
    vertical-align: top;
    margin: 5px;
    position: relative;
}

.home-banner-image  img {
    width:502px;
    height:375px; 
    border-radius: 4px;
}

.home-banner-link {
    background: none repeat scroll 0 0 rgb(245, 245, 245);
    border: 5px solid #d1d1d1;
    border-radius: 4px;
    display: block;
    font-weight: bold;
    height: 45px;
    left: 20%;
    letter-spacing: 1px;
    line-height: 45px;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 70%;
    width: 300px;
    
}

.brand-slider {
    padding-top:10px;
    padding-bottom: 10px;
    border-top: 1px dashed #d1d1d1;
    border-bottom: 1px dashed #d1d1d1;
}

.brand-slider h2{
    margin:0;
}
.home-banner-nav {
    min-height: 300px;
    vertical-align: top;
    margin-bottom:5px;
    padding: 5px;
}
.home-banner-nav label {
    text-align:center;
    line-height:45px;
    display:block;
    height:45px; 
    text-transform: uppercase; 
    color:#000
}
.home-banner-nav div {
    display:block;
    color:#fff;
    background:#000; 
    font-size:1em; 
    text-transform: uppercase;
    text-align:center;
    border-radius: 4px;
}
.home-banner-nav ul a {
    display: block;
    padding: 5px 0;
    color: rgb(255,255,255);
}
.home-banner-nav-p {
    text-transform: none; 
    border-top: 1px solid; 
    margin: 0 35px; 
    padding-top:5px;
    padding-bottom:20px;
}

.home-banner-nav-p a {
    text-transform: none; 
    color: rgb(255,255,255);
}

.home-new-in {
    padding-top:15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 180px;
    background-color: #ddd;       
}

/* breadcrumbs */

.breadcrumbs {
    border-bottom: 1px dashed #d1d1d1;
    display: block;
    height: 24px;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.breadcrumbs li {
/* handle multiline */
    list-style: none;
    display: inline;
    line-height: 24px;
    overflow: visible;
    padding-left: 5px;
}

.breadcrumbs a {
    border:0;
}

/* login page */

.highlight {
margin-bottom: 1.5em;
padding: 15px;
border: 1px dashed rgb(204, 204, 204);
border-radius: 4px;}

.highlight h3 {
font-size: 16px;
border-bottom: 1px dashed rgb(255,255,255); }

.highlight li {
margin-left: 20px; }

.sidebar {
    border-right:1px dashed #d1d1d1;
    margin-bottom: 25px;
}
.sidebar ul {
    list-style: none;
}
.sidebar li {
    line-height: 28px;
    margin-left: 20px;
    text-transform: uppercase;
}

.passwords label {
    width: 170px;
}

/* search */

.filter-option {
    height: 120px;
    max-height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.filter-header {
    border-top:1px dashed #d1d1d1; 
    padding-top: 10px;
    text-transform: uppercase;  
    cursor: pointer;
}
.filter-box {
    padding-left:10px;
}
.filter-box:first-of-type .filter-header {
    border-top:none; 
    
}

.label-short label {
    width:90px;
}

.label-long label {
    width:170px;
}

.sort-by select {
    background: none repeat scroll 0 0 #fff;
    border-color: #e3dbdb;
    color: #797c81;
    width: auto; border-width: 1px 0 1px 1px;
}

.sort-by {
    margin-left:10px;
}

.pagination {
    margin-right:10px;
    nargin-left:10px;
}
.summary {
    background: none repeat scroll 0 0 rgb(245, 245, 245);
    border-bottom: 1px solid #d1d1d1;
    border-top: 1px solid #d1d1d1;
    margin-bottom: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.summary-total {
    text-align: center;
    letter-spacing: 1px;
    text-align: center;
    text-transform: uppercase;
}

/* product */

.left-border {
    border-left: 1px dashed #d1d1d1;
}

.right-border {
    border-right: 1px dashed #d1d1d1;
}

.product-info {
    padding-left:10px;
}

.product-info li {
    list-style: none outside none;
}
.new-in-link {
    padding-top:15px;
    padding-bottom:15px;
    margin-bottom: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    color:#000;
}

.product-box {
    text-align: center;
    float:left;
    margin-bottom: 10px;
}
.product-box img { 
    padding: 4px;;
}

.product-box a{
    border: 0;
}
.online-price{
    color: rgb(0, 0, 0);
}
.old-price{
    color: rgb(0, 0, 0);
    text-decoration: line-through;
}
.sale-price{
    color: #bd362f;
}
.online-title {
    color: rgb(95, 95, 95);
}

.wp-caption img,
img.container,
.other-products img{
    padding: 1px;
    cursor: pointer;
}

.other-products a{
    border:0;
}

.other-products img.current {
    border: 1px solid #bd362f;
    border-radius: 4px;
}

.product-attributes label,
.cart-totals label {
    font-weight: bold;
}
img.container {
    width: 300px;
}
.product-price {
    text-transform: uppercase;
    text-align: right;
    font-size: 1.1em;
    color: #bd362f;
    font-weight: bold;
}

.product-form {
    border-top: 1px dashed #d1d1d1;
    margin-bottom: 20px;
    margin-top: 15px;
    padding: 10px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
}

.slide-header {
    border-top:1px solid #d1d1d1;
    padding-top: 5px;
    padding-bottom: 5px;
}

.share {
    border-top:1px solid #d1d1d1;
    padding-top: 20px;
}

.share .title{
    padding-left: 20px;
    text-align: left;
}

.slide-header .title {
    display: block;
    height: auto;
    position: relative;
    text-transform: uppercase;
    width: auto; 
    cursor: pointer;
    padding-left: 20px;
    text-align: left;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.1em;
}
.slide-header .title:after {
    content: "▸";
    display: block;
    line-height: 1;
    position: absolute;
    right: 10px;
    top: 5px;
}

.slide-body {
    display:none;
}
.slide-body p {
    padding-right: 30px;
    padding-left: 30px;
}

.slide-body label {
    font-weight:bold;
    letter-spacing: 1px;
}

.pagination .page {
    padding: 2px;
}

.pagination .current {
    border: 1px solid #282828;
    border-radius: 13px;
    padding: 2px;
}

/* forms */
.product-form label {
    font-weight: bold;
    padding-bottom: 5px;
}
form label {
    cursor: pointer;
    display: block;
    float: left;
    margin: 0 0 0.25em;
    width: 100px;
}

.help-block {
    display: block;
    font-size: 11px;
    padding-bottom: 10px;
    padding-left: 100px;
}

.form-error {
    color: #c73615;
}
form {
margin: 1em 0 1em; }

input[type="text"],
input[type="password"],
input[type="email"],
textarea {
    margin: 0 0 .5em;
    padding: 3px 5px;
    font-size: 11px;
    border-radius: 4px;
    line-height: 16px;
    font-family: inherit;
    display: inline-block;
    background-color: rgb(255,255,255);
    border: 1px solid rgb(200,200,200);
    -webkit-box-shadow: 1px 1px 2px rgba(0,0,0,.1) inset, 0px 1px 0px rgba(255,255,255,.9);
    -moz-box-shadow: 1px 1px 2px rgba(0,0,0,.1) inset, 0px 1px 0px rgba(255,255,255,.9);
    box-shadow: 1px 1px 2px rgba(0,0,0,.1) inset, 0px 1px 0px rgba(255,255,255,.9); 
}

input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {
    outline: none;
    border-color: rgb(140,210,225);
    box-shadow: 0 0 3px rgba(140,210,225,.5); 
}


/* buttons */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
background: linear-gradient(#ffffff 17%, #f1f1f1 95%) repeat scroll 0 0 rgba(0, 0, 0, 0);
padding: 3px 12px;
font-size: 12px;
display: inline-block;
text-decoration: none;
cursor: pointer;
text-shadow: 0 1px rgba(255,255,255,.7);
border: 1px solid rgb(204,204,204);
border-bottom: 1px solid rgb(178,178,178);
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

-webkit-box-shadow: 0 1px 0 rgba(255,255,255,.9) inset;
-moz-box-shadow: 0 1px 0 rgba(255,255,255,.9) inset; }

.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
text-decoration: none;
border-bottom: 1px solid rgb(178,178,178);
background: #ddd;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(247,247,247)), color-stop(50%,rgb(237,237,237)), color-stop(51%,rgb(225,225,225)), color-stop(100%,rgb(237,237,237)));
background: -webkit-linear-gradient(top, rgb(247,247,247) 0%,rgb(237,237,237) 50%,rgb(225,225,225) 51%,rgb(237,237,237) 100%);
background: -moz-linear-gradient(top, rgb(247,247,247) 0%,rgb(237,237,237) 50%,rgb(225,225,225) 51%,rgb(237,237,237) 100%);
background: -ms-linear-gradient(top, rgb(247,247,247) 0%,rgb(237,237,237) 50%,rgb(225,225,225) 51%,rgb(237,237,237) 100%);
background: -o-linear-gradient(top, rgb(247,247,247) 0%,rgb(237,237,237) 50%,rgb(225,225,225) 51%,rgb(237,237,237) 100%);
background: linear-gradient(top, rgb(247,247,247) 0%,rgb(237,237,237) 50%,rgb(225,225,225) 51%,rgb(237,237,237) 100%); }

.button:active,
button:active,
input[type="submit"]:active,
input[type="reset"]:active,
input[type="button"]:active {
border: 1px solid rgb(178,178,178);
border-bottom: 1px solid rgb(204,204,204);
background: #ccc;
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgb(204,204,204)), color-stop(100%,rgb(237,237,237)));
background: -webkit-linear-gradient(top, rgb(204,204,204) 0%,rgb(237,237,237) 100%);
background: -moz-linear-gradient(top, rgb(204,204,204) 0%,rgb(237,237,237) 100%);
background: -ms-linear-gradient(top, rgb(204,204,204) 0%,rgb(237,237,237) 100%);
background: -o-linear-gradient(top, rgb(204,204,204) 0%,rgb(237,237,237) 100%);
background: linear-gradient(top, rgb(204,204,204) 0%,rgb(237,237,237) 100%);
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.1) inset;
box-shadow: 0 1px 2px rgba(0,0,0,.1) inset; }



/* Footer */
#footer {
    border-top: 1px dashed #d1d1d1;
    border-bottom: 1px dashed #d1d1d1;
    padding-top:15px;
    margin-bottom: 50px;
}

#footer .icons{
    font-size:1.6em;
}

#footer .social-block{
    border-right:1px dashed #d1d1d1;
    border-left:1px dashed #d1d1d1;
    padding-right:15px;
    padding-left:15px;
    height:185px;
}

#footer .social-block a{
    padding:5px;
    border: 0;
    
}

#footer .call-us{
    border-top: 1px dashed #d1d1d1;
    margin-top: 13px;
    padding-top: 15px;
}

#footer .payments {
    border-top:1px dashed #d1d1d1;
    margin-top:10px;
    padding-top:10px;
    padding-left: 10px;
}

#footer .payments img {
    width:54px;
    height:54px;
}

#footer .copyright{
    border-top: 1px dashed #d1d1d1;
    padding:10px 0;
    text-transform: uppercase;
    text-align: center;
}

/* subscription */

#newsletters {
    padding-left:10px;
    text-align: left;
}

/* footer navigation */


#nav-foot li {
    float: left;
    margin-bottom: 0.5em;
    width: 33%; }
#nav-foot .navigation-nolink {
    font-weight: bold;
    color: #000;
}
#nav-foot a {
    border: 0;
}

#cookie-div {
    background-color: #000;
    color: #fff;
    border: 0 solid #f00;
    bottom: 0px;
    display: none;
    float: left;
    left: 0;
    min-height: 50px;
    position: fixed;
    width: 100%;
    z-index: 8888;
}

#cookie-div .message {
    padding:10px;
    border: 0 solid #000;
    height: 48px;
    margin: 0 auto;
    width: 80%;
    float:left;
    text-align: center;
}

#cookie-div a {
    color:#d1d1d1;
}
#cookie-div .cookie-button {
    float:left;
    padding-top:20px;
}

.footer-saparator {
    background-image: -webkit-linear-gradient(90deg, white, #efefef);
    background-image: -moz-linear-gradient(90deg, white, #efefef);
    background-image: -ms-linear-gradient(90deg, white, #efefef);
    background-image: -o-linear-gradient(90deg, white, #efefef);
    border-top: 1px solid #d1d1d1;
    display: block;
    height: 30px;
    width: 100%;
    clear:both;
    margin-top: 15px;
}

.cms-text {
    padding-left:15px;
    padding-right:15px;
    float:left;
    
}

.label-success {
    background-color: #5cb85c;
}
.label {
    border-radius: 0.25em;
    color: #fff;
    display: inline;
    letter-spacing: 1px;
    font-weight: bold;
    line-height: 1;
    padding: 0.2em 0.6em 0.3em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}

.label-primary {
    background-color: #428bca;
}

.button-buy{
    background: -moz-linear-gradient(center top , #ff0b2c 0%, #d60820 100%) repeat scroll 0 0 #d60820;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 #999;
    color: white;
    font-size: 1.3em;
    margin-left: 15px;
    margin-top: 15px;
    padding: 3px 20px;
    text-transform: uppercase;
}

.button-buy:hover {
    background: -moz-linear-gradient(center top , #ff4835 0%, #ff0b2c 100%) repeat scroll 0 0 #ff0b2c;
    border: 0 none;
    border-radius: 15px;
    box-shadow: 0 1px 2px 0 #999;
    color: white;
    font-size: 1.3em;
    padding: 3px 20px;
    text-transform: uppercase;
    margin-top:15px;
    margin-left:15px;
}

.no-transform {
    text-transform: none;
}

.icon-triangle-right:before{
    content:"▸";
}

.icon-triangle-down:before{
    content:"▾";
}

.cart-totals{
    margin-top:10px;
    padding:10px;
    border-left:1px dashed #d1d1d1;
}

.promotion-box {
    margin-bottom:10px;
    padding-bottom:10px;
    border-bottom:1px dashed #d1d1d1;
    font-weight: bold;
}

.btn-success {
    background-color: #e79000;
    border-color: #4cae4c;
    color: #fff;
}
.btn {
    -moz-user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-bottom: medium none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
}

.form-actions {
    padding: 10px;
    text-align: center;
}