<a class="close" data-dismiss="modal" href="#">×</a>
<div class="title"> Size Chart</div>
{% if size_guides|length == 0 %}
    <p>No size guide found</p>
{% else %}
    {% for size_guide in size_guides %}
        <h4>{{ size_guide.name }} {{ size_guide.gender }} </h4>
        <table>
            <tbody>
            <tr>
                {% for field in size_guide.fields %}
                    <th>{{ field.name }}</th>
                {% endfor %}
            </tr>  
                {% for row in size_guide.getValuesAsRows() %}
                    {% if row|length > 0 %} 
                    <tr>
                        {% for value in row %}
                            <td>{{ value }}</td>
                        {% endfor %}
                    </tr>
                    {% endif %}
                {% endfor %}
             </tbody>
        </table>
    {% endfor %}
{% endif %}
<br style="clear:both" />