<div class="row">
    {% for product in products %}
            {% include 'SyliusWebBundle:Frontend/Product:_singleBox.html.twig' with {'locale': locale }%}
        {% if 0 == loop.index % 5 %}
            </div>
            <div class="row">
        {% endif %}
    {% endfor %}
</div>
