<!DOCTYPE html>
<html>
    <head>
        <title>
            {% block title %}
                {{ 'sylius.meta.backend_title'|trans }}
            {% endblock %}
        </title>
        <meta charset="UTF-8">

        <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700|Open+Sans:300italic,400,300,700' rel='stylesheet' type='text/css'>

        {% block stylesheets %}
            <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.css" type="text/css" />
            <link type="text/css" href="/assets/compiled/backend.css" rel="stylesheet" />
            
        {% endblock %}
        

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    </head>
    <body>
        {% include 'SyliusWebBundle:Backend:_navbar.html.twig' %}
        <div class="row main-container">
            <div class="col-md-1 col-lg-2 hidden-sm hidden-xs">
                {% block sidebar %}
                <div id="sidebar">
                    <div class="sidebar-nav">
                        {{ knp_menu_render('sylius.backend.sidebar', {'template': 'SyliusWebBundle::menu.html.twig', 'currentClass': 'active'}) }}
                    </div>
                </div>
                {% endblock %}
            </div>

            <div class="col-md-11 col-lg-10">
                <div id="topbar">
                    {% block topbar %}
                    {% include 'SyliusWebBundle:Backend:_breadcrumb.html.twig' %}
                    {% endblock %}
                </div>

                <div id="content">
                    {% include 'SyliusWebBundle:Backend:_flashes.html.twig' %}

                    {% block content %}
                    {% endblock %}

                    <hr>

                    {# Gallery modal #}
                    {% include 'SyliusWebBundle::gallery.html.twig' %}

                    {# Confirmation modal #}
                    {% include 'SyliusWebBundle::confirm-modal.html.twig' %}

                    <footer>
                        <p>&copy; <a href="http://Sylius.org">Sylius</a>, 2011 - {{ 'now'|date('Y') }}.</p>
                    </footer>
                </div>
            </div>
        </div>

        {# javascripts... #}
        {% block javascripts %}
            <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
            <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.0.1/js/bootstrap.min.js"></script>
            <script type="text/javascript" src="/assets/compiled/backend.js"></script>
        {% endblock %}
        {% block kitpages_cms_javascripts %}{% endblock %}
    </body>
</html>
